version: '3'

services:
  nginx:
    build: ./docker/nginx
    ports:
      - 80:80
    volumes:
      - ${APP_ROOT}:/app
      - ./docker/nginx/etc/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/etc/conf.d/upstream.conf:/etc/nginx/conf.d/upstream.conf
      - ./docker/nginx/etc/sites-enabled/:/etc/nginx/sites-enabled/
    restart: always
  php:
    build: ./docker/php71-fpm
    volumes:
      - ${APP_ROOT}:/app
      - ./bin/composer:/usr/local/bin/composer
      - ./docker/php71-fpm/etc/php.ini-development:/usr/local/etc/php/php.ini
      - ./docker/php71-fpm/etc/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    restart: always
  mysql:
    image: mysql:5.7
    ports:
      - 3306:3306
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/conf.d/charset.cnf:/etc/mysql/conf.d/charset.cnf
    environment:
      MYSQL_ROOT_PASSWORD: root
    restart: always
  mongo:
    image: mongo:3.6
    volumes:
      - mongodb_data:/data/db
    ports:
      - 27017:27017
    restart: always
  redis:
    image: redis:4
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379
    restart: always
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:4.9
    ports:
      - 8080:80
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    restart: always

volumes:
  mysql_data:
  mongodb_data:
  redis_data:
